/* ------------------------------------------*/
/* -------------- Contact CSS ---------------*/
/* ------------------------------------------*/
.contact_address {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.contact_address a{
    font-size: 1.2rem;
    color: aliceblue;
}